* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Bangers", cursive;
}
p {
  font-size: 45px;

}

input {
    display: none;
}


#container {
  display: flex;

  flex-direction: column;
  padding: 10px;
  padding-top: 0;
  box-shadow: 5px 8px 10px black;
  width: fit-content;
}

#controls {
  font-size: 35px;
  margin: 10px;
  display: flex;
  gap: 50px;
}

#controls > p {
  font-size: 65px;
}

canvas {
  border: 1px solid black;
  box-shadow: inset 5px 5px 5px black;
  background-image: url("/105_mushroom_background.png");
}

#mandrake {
  display: none;
}
